h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

h2 {
    text-align: left;
}

h3 {
    text-align: left;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #555555;
    padding: 32px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555555;
}

li {
    float: left;
}

    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover, .dropdown:hover .dropbtn {
            background-color: #e2001a;
        }

    li.dropdown {
        display: inline-block;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #e2001a;
}

.box1, .box2, .box3 {
    float: left;
    width: 32%;
    margin-right: 2%;
    box-sizing:content-box;
}

.box3 {
    margin-right: 0;
}

.header {
    grid-area: header;
}

.inhalt {
    grid-area: main;
    background-color: white;
}

.kurs {
}
